body {
    padding-top: 5rem;
    padding-bottom: 1rem;
}

/* Rarity coloring*/
.Standard {
    color: limegreen;
    font-weight: bold;
}
.Superior {
    color: dodgerblue;
    font-weight: bold;
}
.Epic {
    color: #a46ae7;
    font-weight: bold;
}
.Mythic {
    color: darkorange;
    font-weight: bold;
}
.Legendary {
    color: #f12f6e;
    font-weight: bold;
}

.itemRow > td {
    padding: .5rem !important
}

.itemCategory {
    padding: .1rem
}

.nav-item {
    margin-right: 1rem
}