<h2>About Secret World Legends Market</h2>

<p>Tracks in-game prices of items for both historical and current data.</p>

<p>Source code available on <a href="https://github.com/Xeio/SwlMarket">GitHub</a>.</p>

<p>Not affiliated with Funcom.</p>