@model SwlMarket.Models.Item

<h3 class="@Html.DisplayFor(modelitem => Model.Rarity)">@Html.DisplayFor(modelItem => Model.Name)</h3>

<div id="priceChart">
    <h2>Loading prices...</h2>
</div>

@if (!ViewData.ContainsKey("AllTime"))
{
    <a href="#" id="showAllTimeLink">Show prices from all time</a>
}

@section scripts
    {
    <script src="https://cdn.plot.ly/plotly-1.18.1.min.js"
            crossorigin="anonymous"
            integrity="sha384-xy0v0GEac7ITaiyKSN1CNkGGXrsQvLU4y2K4azAk21dyTwGCfYdgsOhiKoD5GzNN">
    </script>
    <script>
        var priceData = {
            type: 'scatter',
            mode: 'lines+markers',
        };

        function fetchAndDisplayPlot(url) {
            fetch(url).then(response => {
                if (response.ok) {
                    response.json().then(data => {
                        document.getElementById('priceChart').innerHTML = "";
                        priceData.x = data.dates;
                        priceData.y = data.prices;
                        var layout = {
                            font: {
                                color: '#ffffff'
                            },
                            paper_bgcolor: '#222222',
                            plot_bgcolor: '#222222',
                        };
                        Plotly.newPlot('priceChart', [priceData], layout);
                    });
                }
                else {
                    document.getElementById('priceChart').innerHTML = "Unable to retrieve pricing data";
                }
            });
        }

        fetchAndDisplayPlot('@Url.Action("Item", "PriceData", new { Model.ID, allTime = ViewData["AllTime"] })');

        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById('showAllTimeLink').onclick = function () {
                fetchAndDisplayPlot('@Url.Action("Item", "PriceData", new { Model.ID, allTime = true })');
                document.getElementById('showAllTimeLink').style.display = "none";
            }
        });
    </script>
}