@model SwlMarket.Models.Item

<h3 class="@Html.DisplayFor(modelitem => Model.Rarity)">@Html.DisplayFor(modelItem => Model.Name)</h3>
<div id="priceChart">

</div>

@section scripts
{
    <script>
        var priceData = {
            type: 'scatter',
            mode: 'lines+markers',
        };

        $.ajax({
            url: '@Url.Action("Item", "PriceData", Model.ID)',
            success: function (result) {
                priceData.x = result.dates;
                priceData.y = result.prices;
                Plotly.plot('priceChart', [priceData]);
            },
            error: function () {
                $('#priceChart').html("Unable to retrieve pricing data");
            }
        });
    </script>
}