@model IEnumerable<SwlMarket.Models.Price>

@{
    ViewData["Title"] = "Prices";
}

<h3>Categories</h3>

@foreach (var group in Model.GroupBy(i => i.Item.ItemCategory).OrderBy(g => g.Key.DisplayName("Uncategorized")))
{
    var divId = "data" + group.Key;
    <h4 class="itemCategory"><a data-toggle="collapse" href="@("#"+divId)">@group.Key.DisplayName("Uncategorized")</a></h4>
    <div id="@divId" class="collapse">
        @await Html.PartialAsync("PriceDataTable", group)
    </div>
}